* {
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.header {
 display: flex;
}

.header ul {
  list-style-type: none;
  margin: 0;
  margin: 0;
  display: flex;
  margin-left: auto;
}

.header ul li {
  margin: 0;
  padding: 0;
 }

.logo {
}

.front-car {
  height: 150px;
  width: auto;
}

.image {
  height: 120px;
  width: 120px;
}